@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om mig, ";
}

<h2>Om mig</h2>
<p>Mitt namn är Edwin Lundbäck och jag är 22 år gammal. Jag kommer ursprungligen från Kalix men flyttade därifrån när jag var 15 år. Då flyttade jag till Gällivare för att gå skidgymnasium. Efter fyra år i Gällivare flyttade jag till Åre, där jag bor just nu. </p> 
<p>Jag har åkt skidor sedan jag var 1 år gammal men har tränat det sedan jag var 8 år. Jag har alltid velat bli bäst på skidor, vilket fortfarande är målet.</p>
<p>För att nå målet har jag fortsatt på skiduniversitet i form av Team Bauhaus som är kopplat till Mittuniversitetet. Vårat krav är att studera minimum 25% (15hp). Jag har valt att studera på ungerfär 50% för att får en utbildning att luta sig tillbaka till om man inte når hela vägen. Jag valde därför att studera webbutveckling.</p> 
<p>Att tävla alpint samtidigt som man studerar på halvafart är tufft. Jag är ensam i teamet som plugger ett program. De flesta åkarna pluggar minimum på 15hp. Det är tufft att hinna med allt. Att hinna plugga samtidigt som man ska resa, fixa skidor, tävla, träna och allt som är kring en elitsatsning.</p>