@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida, ";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Den här sidan är skapad med ASP .Net Core. För att läsa mer klicka <a class="link" href="https://learn.microsoft.com/aspnet/core">här</a></p>
    <p>Det här är min första sida med ASP .Net Core. Här finns lite information om mig samt min första C# kod på en webbplats</p> 
</div>
